<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Welcome to Ooty, nice to meet you :P</h1>

    {% for movie_obj in movie_list %}
        <h1>Movie Name : {{movie_obj.movie_name | upper}}</h1>
        <h2>Summary : {{movie_obj.summary | default:'No summery avilable' | upper }}</h2>
        <h3>Year : {{movie_obj.year}}</h3>

            {% if movie_obj.success %}
                <p>Movie was a success</p>
            {% else %}
                <p>Movie was a failure</p>
            {% endif %}

    {% endfor %}
</body>
</html>